/* Limpar formatacoes padrao */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #f3f3f3;
}

#navegacao {
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    height: 45px;
    position: fixed;
    width: 100%;
    top: 0;
}

#area {
    width: 720px;
    margin: 0 auto;
}

#area-principal {
    width: 720px;
    margin: 55px auto 10px auto;
}

#logo {
 float: left;
}

#menu {
    float: right;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
}

#descricao {
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-width: 1;
    border-color: #000;
    flex-direction: row;
}

#titulo {
    font-size: 36px;
    color: #000;
    margin-bottom: 5%;
}

h2 {
    color: #b9c941;
}

/* a {
    text-decoration: none;
    padding: 5px 10px;
}

a:link {
    color: #838383;
}

a:visited {
    color: #838383;
}

a:hover {
    color: #fff;
    background: #b9c941;
}

a:active {
    color: #535353;
} */

.verde {
    color: #ccff33;
}

.data-postagem {
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-descricao {
    float: right;
    margin: 0 10px 5px 0;
    margin-left: 5%;
    height: 480px;
    width: 240px;
    align-items: center;
}

.postado {
    border-left: 5px solid #d8d8d8;
    padding-left: 5px;
    display: block;
    margin-top: 10px;
}

.addButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 60px;
	text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    /* float: inline-start; */
    margin-top: 2.5%;
}
.addButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.addButton:active {
	position:relative;
	top:1px;
}