@import url('https://fonts.googleapis.com/css?family=Telex:400,700');

h1 {
  font-weight: 900px;
  letter-spacing: -0.1em;
  font-family: Telex;
  color: #993300;
}

.principal {
  min-height: 100vh;
  background-color: #f5f5ef;
  text-align: center;
}

.logo {
  height: 7.5%;
  width: 7.5%;
  pointer-events: none;
}

.header {
  /* background-color: #f5f5ef; */
  /* min-height: 100vh; */
  /* height: 100%; */
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white;  */
}

.botoes {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  font-size: calc(2px + 2vmin);
  /* align-items: center; */
  /* justify-content: center; */
}

.botao_mais_resultados {
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  font-size: calc(20px + 2vmin);
  align-items: center; 
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:20px 50px;
	text-decoration:none;
  text-shadow:0px 1px 0px #86ae47;
  margin: 5px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.myButton:active {
	position:relative;
	top:1px;
}

.input-text {
  width: 100%;
  height: 30%;
  border-radius: 0.2rem;
}

.Input-text {
  display: block;
  margin: 5%;
  padding: 0.8rem 16rem;
  color: inherit;
  width: 60%;
  font-family: inherit;
  font-size: 2.1rem;
  font-weight: inherit;
  line-height: 1.8;
  border: none;
  border-radius: 0.4rem;
}

.Input-text::placeholder {
  color: #B0BEC5;
}




